/**
 * Fonts
*/

@font-face {
  font-family: 'Roboto regular';
  src: url("../fonts/roboto-regular.woff2") format("woff");
  font-style: normal;
}

@font-face {
  font-family: 'Roboto bold';
  src: url("../fonts/roboto-bold.woff2") format("woff");
  font-style: normal;
}